

################################################################################
# Daemon configuration
################################################################################

menu "Daemon Setup"
  source "barbeque/bbque/Kconfig"
endmenu


################################################################################
# Policies
################################################################################

menu "Policies"
  source "barbeque/plugins/schedpol/Kconfig"
endmenu


################################################################################
# RTLib
################################################################################

menu "Run-Time Library (RTLib)"
  source "barbeque/rtlib/Kconfig"
endmenu # RTLib Configuration


################################################################################
# Programming Model
################################################################################

menu "Programming Model"

config BBQUE_TG_PROG_MODEL
  bool "Task-graph based programming model"
  default y

menu "Task-Graph Library (libtg)"
  depends on BBQUE_TG_PROG_MODEL
  source "barbeque/libtg/Kconfig"
endmenu # libtg

endmenu # Programming model


################################################################################
# Advanced Options
################################################################################

menu "Advanced Options"

config BBQUE_BUILD_DEBUG
  bool "Build DEBUG version"
  default n
  ---help---
  Build the BarbequeRTRM with DEBUGGING support enabled.

  This will produce a version of both the daemon and the RTLib with much more
  logging messages and debug symbols, which is suitable for debugging purposes.

menu "Recipe Loader"
  source "barbeque/plugins/rloader/Kconfig"
endmenu

config BBQUE_APP_PRIO_LEVELS
  int "Number of Priority Levels"
  default 5
  ---help---
  Applications are scheduled according to their priority which is a value
  ranging from 0 (highest priority) to a defined minimum value.

  Recipies define the priority of the corresponding Application.

config BBQUE_RESOURCE_MAX_NUM
  int "Number of Resources per Type"
  default 32
  ---help---
  The maximum number of resources per resource type.

  For example, the maximum number of processing elements (computing cores)
  available per processor.

config BBQUE_RESOURCE_PATH_PREFIX
   string "Resource binding prefix path"
   default "sys"
   ---help---
  The prefix (in string format) of the resource paths under which perform the
  matching w.r.t. the resource requests in the application recipes.
  For instance, value="sys" means that we will look for requests of CPUs or
  ACCELERATORs starting from resource registered under "sys." (e.g. "sys.cpu"
  or "sys.acc").

config BBQUE_SCHED_PROFILING
  bool "Scheduling Profiling"
  default n
  ---help---
  Enable the scheduling profiling support

  This will collect statistics about the resource allocation metrics (e.g.,
  mean and variance of the AWM from the scheduled applications, fairness
  index, etc...)

config BBQUE_BUILD_TESTS
  bool "Build the TEST suite"
  default n
  ---help---
  Build the BarbequeRTRM test suite.

  This will build also the set of regression tests used to verify framework
  stability during development.
  NOTE: this is an experimental and not completed feaure, leave un-selected is
  unsure.

config BBQUE_EM
  bool "Event Manager"
  default n
  ---help---
  Build the BarbequeRTRM with support for Event Management (EM).

  The Event Manager is a component for tracing internal BarbequeRTRM events.
  The events archive can be then plotted by using the Event Viewer tool.

  If unsure say no, this will disable all the EM related features.

config BBQUE_DM
  bool "Data Manager"
  default n
  ---help---
  Build the BarbequeRTRM with support for Data Management (DM).

  The Data Manager is a component to provide a publish/subscribe support
  for client applications that need to retrieve information about the status
  of the system, application and allocation.

  If your system does not need to provide information to third party clients
  leave it disable to avoid dangerous information leakage.

  NOTE: this is an experimental and not completed feature, leave un-selected if
  unsure.

endmenu # Advanced options
