config BBQUE_SCHEDPOL_DYNAMICRANDOM
  bool "DynamicRandom (CPU)"
  default n
  depends on TARGET_NO_ACCELERATION
  ---help---
  This policy allocates resources dynamically and randomly according to a 
  chosen distribution and to the available resources among applications. 
  The policy is dynamic because of its ability to create a Working Mode
  on-the-fly.
