
config SAMPLES_MYAPP
  bool "MyApp"
  select BOSP_SAMPLES_APPTYPE
  default n
  ---help---
  Build the MyApp application.
  
  Insert here a description of this application.

  If unsure, say No to this option.

