
config SAMPLES_APPTYPE_MYAPP
  bool "MyApp"
  default n
  select BOSP_SAMPLES_APPTYPE
  ---help---
  Build the MyApp application.
  
  Insert here a description of this application.

  If unsure, say No to this option.

